/ng-animations/dist
/ng-animations/dist-server
/ng-animations/tmp
/ng-animations/out-tsc
/ng-animations/node_modules
/ng-animations/package-lock.json
/ng-animations/npm-debug.log


/ng-attr-directives/dist
/ng-attr-directives/dist-server
/ng-attr-directives/tmp
/ng-attr-directives/out-tsc
/ng-attr-directives/node_modules
/ng-attr-directives/package-lock.json
/ng-attr-directives/npm-debug.log


/ng-component-styles/dist
/ng-component-styles/dist-server
/ng-component-styles/tmp
/ng-component-styles/out-tsc
/ng-component-styles/node_modules
/ng-component-styles/package-lock.json
/ng-component-styles/npm-debug.log


/ng-tutorial/dist
/ng-tutorial/dist-server
/ng-tutorial/tmp
/ng-tutorial/out-tsc
/ng-tutorial/node_modules
/ng-tutorial/package-lock.json
/ng-tutorial/npm-debug.log